<h1>Bienvenidos al chat</h1>
<div>
   <input type="text" id="chatBox" />
</div>
<p id="messageLogs"></p>

 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 

{{!-- clase 10.7 agregar script para relacioanr con socket --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- clase 9 agregar script para relacioanr con javascrit: index.js --}}
<script src="/js/chat.js"></script>

